table{
    border: 1px solid rgb(166, 165, 165);
}
th{
    border: 1px solid black;
    width: 100px;    
}
.Header{
    background-color: yellow;  
    text-align: end;

}
#NinjaA{
    background-color: #FFB6C1;
    text-align: center;

}

.footer{
    text-align: center;
}

td{
    border: 1px solid black;
}
.container {
    display: flex;
    flex-direction: column;   /* stack items vertically */
    align-items: center;      /* center horizontally */
    justify-content: center;  /* center vertically */
}
hr{
    width: 320px;
}
p{
    padding: 0;
    margin: 0;
}
